<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <display-name>Studio Booking App</display-name>
    
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>StudioController</display-name>
    <servlet-name>StudioController</servlet-name>
    <servlet-class>controller.StudioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudioController</servlet-name>
    <url-pattern>/StudioController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>StudioBookingController</display-name>
    <servlet-name>StudioBookingController</servlet-name>
    <servlet-class>controller.StudioBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudioBookingController</servlet-name>
    <url-pattern>/StudioBookingController</url-pattern>
  </servlet-mapping>
    
    
    
</web-app>